<div data-role="view" id="captureSignatureView" data-model="parascope.controllers.route.viewModel" style="width: 100%; height:100%;">
    <!--start: Modal Body -->
    <div id="canvasContainer" class="row modalBody" style="text-align:center;" >
       <canvas id="canvas" style="border:2px solid #000000;margin-top:10px;"></canvas>
         				<div class="btn-group-vertical" id="signatureReasons" style="width:100%">
                            <div class="btn btn-lg btn-default" data-bind="click:signatureReasonSelected" data-value="Rider Signature Received">Rider Signature Received</div>
                            <div class="btn btn-lg btn-default" data-bind="click:signatureReasonSelected" data-value="Rider Unable to Sign">Rider Unable to Sign</div>
                            <div class="btn btn-lg btn-default" data-bind="click:signatureReasonSelected" data-value="Rider Refused to Sign">Rider Refused to Sign</div>
                            <div class="btn btn-lg btn-default" data-bind="click:signatureReasonSelected" data-value="Parent / Guardian Signed">Parent / Guardian Signed</div>
                            <div class="btn btn-lg btn-default" data-bind="click:signatureReasonSelected" data-value="Rider Unable to Sign – Facility Signed">Rider Unable to Sign – Facility Signed</div>
                        </div>
                        <div class="btn btn-responsive btn-success" data-bind="click:confirmCaptureSignature, enabled:allowConfirmSignature"><i class="icon-ok "></i> Confirm</div> 
                        <div class="btn btn-responsive btn-danger" data-bind="click:cancelCaptureSignature"><i class="icon-remove"></i> Cancel</div>
        <div class="btn btn-responsive btn-default" data-bind="click:clearSignature">Clear</div>
                        
    </div> 
    <!--end: Modal Body -->    
</div>