<div data-role="modalview" id="confirmCallRiderView" data-model="parascope.controllers.route.viewModel" style="width: 75%; height:300px;">
    
    <!--start: Modal Header -->
    <div class="row modalClose-row">
        
        <div class="col-xs-9">
          <h3>Request that dispatch call this rider?</h3>
        </div>
        <div class="col-xs-3">
          <div class="pull-right" data-bind="click: hideConfirmCallRider"><i class="icon-remove-sign"></i></div>
        </div>

    </div>
    <!--end: Modal Header -->
    
    
    <!--start: Modal Body -->
    <div class="row modalBody" >
        
        <div class="col-xs-12">
                       
            
            <div class="row modalBody-row" >
                <div class="col-xs-12">
                    <label>who</label>
                    <h1 data-bind="text: job.SubTitle"></h1>   
                </div>
            </div>
        	        	
            <div class="row modalSubmit-row" >
                <div class="col-xs-12">          
                    <div class="btn-group btn-group-justified">
                        <div class="btn btn-responsive btn-success" data-bind="click:callRider"><i class="icon-ok "></i> Yes</div> 
                        <div class="btn btn-responsive btn-danger" data-bind="click:hideConfirmCallRider"><i class="icon-remove"></i> No</div>
                        
                    </div>
                </div>
            </div>
        	

         
        </div>
    </div> 
    <!--end: Modal Body -->
    
</div>