<div data-role="modalview" id="debugView" data-model="parascope.controllers.trace.viewModel" style="width:99%; height:99%;">
    <div data-role="header">       
        <div class="row">
           <div class="col-xs-6">
               <div class="btn btn-block btn-lg" data-bind="click: hideDebugView">Hide</div>
               
           </div>
           <div class="col-xs-6">
               Send Trace To Server<input data-role="switch" data-bind="checked:sendTraceToServer"/>
               
           </div>          
        </div>  
    </div>      	
        	               
    <ul id="events" data-role="listview"
    	data-style="inset"
    	data-template="eventTemplate"
    	data-bind="source: events">
    </ul>
</div>