<div data-role="view" id="endRouteView" data-model="parascope.controllers.route.viewModel">

    <!--start: Modal Header -->
    <div class="row modalClose-row">

        <div class="col-xs-9">
            <h3>Confirm Route End - Driver Signature</h3>
        </div>

    </div>
    <!--end: Modal Header -->

    <div id="canvasContainer2" class="row modalBody" style="text-align:center;" >
        <canvas id="canvas2" style="border:2px solid #000000;margin-top:10px;"></canvas>

    </div>

    <div class="row" style="padding:20px 0;">

        <div class="col-xs-12">
            <form>
                <fieldset>

                    <div class="form-group">
                        <label>
                            Odometer <span class="k-invalid-msg danger" data-for="odometer"></span>
                        </label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <div class="btn btn-default btn-responsive" data-bind="click: decrementField" data-field="currentOdometer">
                                    <i class="icon-minus"></i>
                                </div>
                            </span>
                            <input class="form-control input-responsive" type="number" data-bind="value: currentOdometer" name="odometer" validationMessage="* required" required />
                            <span class="input-group-btn">
                                <div class="btn btn-default btn-responsive" data-bind="click: incrementField" data-field="currentOdometer">
                                    <i class="icon-plus"></i>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="submit-row">
                        <div class="btn-group btn-group-justified">
                            <div style="width:80%" class="btn btn-primary btn-responsive" data-bind="click: endRoute, enabled: canSubmitLogoff, text:logoffPerformButtonText"></div>
                            <div style="width:20%" class="btn btn-responsive btn-danger" data-bind="click:hideEndRoute">
                                <i class="icon-remove"></i> Cancel
                            </div>

                        </div>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>