<div data-role="modalview" id="groupArriveView" data-model="parascope.controllers.route.viewModel" style="width: 75%; height:75%">
    
    <!--start: Modal Header -->
    <div class="row modalClose-row">
        
        <div class="col-lg-9">
          <h3>Do you want to arrive the following jobs?</h3>
        </div>
        <div class="col-lg-3">
          <div class="pull-right" data-bind="click: cancelGroupArrive"><i class="icon-remove-sign"></i></div>
        </div>

    </div>
    <!--end: Modal Header -->
    
            <hr>
    
    <!--start: Modal Body -->
    <div class="row modalBody" >
        
        <div class="col-lg-12">
            
           <ul id="jobList" data-role="listview"
        		data-style="inset"
        		data-template="groupArriveTemplate"
        		data-bind="source: jobsToGroupArrive" >
	        </ul>
        	
            <div class="row modalSubmit-row" >
                <div class="col-lg-12">          
                    <div class="btn-group btn-group-justified">
                        <div class="btn btn-responsive btn-success" data-bind="click:confirmGroupArrive"><i class="icon-ok "></i> Yes</div> 
                        <div class="btn btn-responsive btn-danger" data-bind="click:cancelGroupArrive"><i class="icon-remove"></i> No</div>
                        
                    </div>
                </div>
            </div>
        	

         
        </div>
    </div> 
    <!--end: Modal Body -->
    
</div>