<div data-role="modalview"  id="groupArriveView" data-model="parascope.controllers.route.viewModel" style="width: 75%; height:75%">

    <!--start: Modal Header -->
    <div data-role="header">
        <div data-role="navbar">
           
            <div class="km-view-title">
                <span>Do you also want to arrive the following jobs?</span>

            </div>
        </div>
    </div>

    <ul id="jobList" data-role="listview"
        data-style="inset"
        data-template="groupArriveTemplate"
        data-bind="source: jobsToGroupArrive" >
    </ul>

    <div  data-role="footer" class="text-center" >
        <div class="btn btn-responsive btn-success" data-bind="click:confirmGroupArrive" style="width:45%">
            <i class="icon-ok "></i> Yes
        </div>
        <div class="btn btn-responsive btn-danger" data-bind="click:cancelGroupArrive" style="width:45%">
            <i class="icon-remove"></i> No
        </div>

    </div>
</div>