<div class="row">

	# if (JobType == "1" || JobType == "2") {#
        
        <div class="col-xs-12">
            
            <!-- start: type -->
            <div class="body-row">
                <h1 class="jobType">                    
                    #if (JobType == "1") {# Pick-Up #}else if (JobType == "2") {# Drop-Off #}#
                    
                    @
                    
                    #=ScheduledStartTimeString#
                    #if(WillCall){# Will Call  #}#                    
                   
                    #if(WheelchairSeats > 0){# <img  class="image-responsive" src="images/icon_Wheelchair.png">  #}#
                    #if(StretcherCount > 0){# <img  class="image-responsive" src="images/icon_Stretcher.png">  #}#
                    #if((RideComments && RideComments.length > 0) || (RiderComments && RiderComments.length > 0)){# <i class="icon-comment smaller"></i>  #}#
                    
                </h1>
            </div>
            <!-- end: type -->

            
            <!-- start: who / where -->
            <div class="body-row">
                <h2 style="margin:0px">#=RiderFirstName# #=RiderLastName#</h2>
                <h2 style="margin:0px"><span>
                    #if(Address != null){#
                    #=LocationName# #=Address#
                    #}else{#
                        No Address
                    #}#
                </span></h2>
                
            </div>
            <!-- end: who / where -->
            
            <!-- start: submit buttons -->
            <div class="submit-row">
                <div class="btn-group btn-group-justified">
                     #if(parascope.controllers.route.viewModel.route.HasBeenStarted && ArriveEnabled){#
                        #if(HasBeenStarted){#
                            <div style="width:55%" class="btn btn-success btn-responsive" data-bind="click:performJobClick">#if (JobType == "1") {#  #}else if (JobType == "2") {#  #}# Perform</div>
                        #}else{#
                            <div style="width:55%" class="btn btn-primary btn-responsive" data-bind="click:arriveJob">#if (JobType == "1") {#  #}else if (JobType == "2") {#  #}#Arrive</div>
                        #}#
                    #}#
                    
                    <div style="width:15%" class="btn btn-default btn-responsive" data-bind="click:viewButtonClick"><i class="icon-search"></i></div>
                    <div style="width:15%" class="btn btn-default btn-responsive" data-bind="click:mapJob, enabled:mapJobEnabled"><i class="icon-map-marker"></i></div>
                    <div style="width:15%" class="btn btn-default btn-responsive" data-bind="click:showConfirmCallRider"><i class="icon-phone"></i></div>
                </div>
            </div>
            <!-- end: submit buttons -->
            
            
        </div>
    

    
	#}
	else {#
    
        <div class="col-xs-12">
            
            <!-- start: type -->
            <div class="body-row">
                <h1 class="jobType">                    
                     #=Title#                    
                    from                    
                    #=ScheduledStartTimeString# 
                    to 
                    #=ScheduledEndTimeString# 
                </h1>
            </div>
            <!-- end: type -->

            
            <!-- start: submit buttons -->
            <div class="submit-row">
                <div class="btn-group btn-group-justified">
                     #if(parascope.controllers.route.viewModel.route.HasBeenStarted){#
                        #if(parascope.controllers.route.viewModel.route.HasBeenStarted && HasBeenStarted){#
                            <div class="btn btn-danger btn-responsive" data-bind="click:finishButtonClick">Finish</div>
                        #}else{#
                            <div class="btn btn-success btn-responsive" data-bind="click:startButtonClick">Start</div>
                        #}#
                    #}#
                </div>
            </div>
            <!-- end: submit buttons -->
            
            
        </div>
    

	#}#		

</div>