<div data-role="view" id="loginView" data-model="parascope.controllers.login.viewModel"  data-before-show="loginBeforeShow">

        <div class="row">

            <div class="col-lg-4 col-lg-offset-4">
                
                <img src="images/logo.png"/>
                
                <form>		
                    <fieldset>
                        <div class="form-group">

                            <input type="number" class="form-control input-lg" placeholder="Enter PIN" data-bind="value: credentials.password" />
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control input-lg" placeholder="Customer Code"  data-bind="value: credentials.customer" />
                        </div>
                        <div class="form-group">

                            <input type="text" disabled="true" class="form-control input-lg" placeholder="Description"  data-bind="value: credentials.description" />
                        </div>
                        <div id="errorMessage" class="alert alert-danger" ></div>
                        <div class="btn btn-success btn-block btn-xlg" data-bind="click: login">Log In</div>
                        <!---<div class="btn btn-danger btn-block btn-xlg" data-bind="click: exitApp">Exit</div>--->
                    </fieldset>
        	    </form>            

            </div>
            

            
            
        </div>   

    
</div>