<div data-role="splitview" id="mapView" data-show="parascope.controllers.geography.viewModel.show">            
    <div data-role="pane" id="side-pane">
        <div data-role="view" data-model="parascope.controllers.geography.viewModel">
            
            <!--start: Header -->
            <div class="row row-topControls">
                <div class="col-xs-6">
                    <div class="btn btn-default" data-bind="click: back"><i class="icon-reply"></i> Back</div>
                    <div class="btn btn-default" data-bind="click: refreshDirections"><i class="icon-refresh"></i></div>
                    
                </div>
                <div class="col-xs-6">
                    <div class="pull-right" style="width:100%; text-align:right;"><p style="float:left; margin:0; margin-top:5px;">Follow</p> <input data-role="switch" data-bind="checked:followVehicle"/></div>
                </div>
            </div>
            <!--end: Header -->
           <div data-bind="visible:directionsList.length == 0" class="text-center">
                <br/>
                <br/>
                <div class="btn btn-default" style="white-space: normal;" data-bind="click: refreshDirections">
                	<h4>Get Directions To:<br/> <span data-bind="text:currentDestination.address"></span></h4>                             
                </div>
                <br/>
                <br/>
                <div class="btn btn-default" style="white-space: normal;" data-bind="click: mapRouteBeta">
                	<h4>Beta Navigation To:<br/> <span data-bind="text:currentDestination.address"></span></h4>                            
                </div>
           </div>
           <ul data-role="listview"
				data-style="inset"
				data-template="directionsTemplate"
				data-bind="source: directionsList"><li>test</li>
			</ul>
        </div>
            
    </div>
    <div data-role="pane" data-layout="main-default" id="main-pane">
        <div data-role="view">
        <div id="map"></div>
        </div>
    </div>
</div>