<div data-role="view" id="messagesView" data-model="parascope.controllers.messages.viewModel" data-layout="mobile-tabstrip">
    <div style="width:100%" class="btn btn-default btn-responsive" data-bind="click:showPredefinedMessageView"><i class="icon-plus-sign"></i> Send New Message</div>
	<div>
        <h3 style="background-color:green;" data-bind="text: userMessage"/>
    </div>
    <div>
		<h2>Your Messages:</h2>
	</div>
	<ul data-role="listview"
		data-style="inset"
		data-template="messageTemplate"
		data-bind="source: messages">
	</ul>
</div>