<div data-role="view" id="performPickupView" data-model="parascope.controllers.route.viewModel">
   
    <!-- start: feedback message to user -->
    <div class="well hide" id="userMessage">
        <div class="col-xs-1">
            <i class="icon-phone"></i> 
        </div>
        <div class="col-xs-11">
            <h1 data-bind="text: userMessage"></h1>
        </div>
    </div>
    <!-- end: feedback message to user -->
    
    <div class="row" style="padding-top:25px">
        
        <div class="col-xs-6">
            
            <!-- start: who / where -->
            <div class="body-row">
                <h2 data-bind="text: job.SubTitle" style="margin:0px"></h2>
            </div>
            <!-- end: who / where -->

            <label>Account</label>
            <p  data-bind="text: job.AccountCode"></p>

            <div class="body-row" data-bind="visible: job.RideComments != ''">
                <label>Ride Comments</label>
                <p  data-bind="text: job.RideComments"></p>
            </div>
            <div class="body-row" data-bind="visible: job.RiderComments != ''">
                <label>Rider Comments</label>
                <p  data-bind="text: job.RiderComments"></p>
            </div>
            <div class="body-row" data-bind="visible: job.SpecialAssistance.length > 0">
                <label>Special Assistance Codes</label>
                <p  data-bind="text: formatCurrentJobSpecialAssistance"></p>
            </div>
            <div class="body-row">
                <div class="row">
                    <div class="col-xs-6"><div class="btn btn-default btn-responsive" data-bind="click: captureSignatureClick">Capture Signature Now</div></div>                    
                </div>
                <div class="row">
                    <div class="col-xs-6"><div class="btn btn-default btn-responsive" data-bind="click: captureSignatureOnDropoffClick">Capture Signature at Dropoff</div></div>
                </div>
                <br/>
                <label data-bind="text: currentSignatureReason"></label>
                <img data-bind="visible: showSignature, attr: { src: signature }" style="width:90%;" />
            </div>
        </div>
        
        <div class="col-xs-6">
            <form>		
                <fieldset>

            
                    <!-- start: odometer -->
                     <div class="body-row">                         
                         
                        <label>
                            Odometer <span class="k-invalid-msg danger" data-for="odometer"></span>                            
                        </label>
                         <div class="input-group">
                          <span class="input-group-btn">
                              <div class="btn btn-default btn-responsive" data-bind="click: decrementField" data-field="currentOdometer"><i class="icon-minus"></i></div>
                         </span>
                          <input class="form-control input-responsive" type="number" data-bind="value: currentOdometer" name="odometer" validationMessage="* required" required  />
                          <span class="input-group-btn">
                              <div class="btn btn-default btn-responsive" data-bind="click: incrementField" data-field="currentOdometer"><i class="icon-plus"></i></div>  
                         </span>
                             
                        </div>
                        
                     </div>
                    
                    
                    <!-- start: fare -->
                     <div class="body-row">                          
                        
                         <label>
                             Fare Collected <span class="k-invalid-msg danger" data-for="fare"></span>                             
                         </label>
                         
                         <div class="input-group">
                          <span class="input-group-btn">
                              <div class="btn btn-default btn-responsive" data-bind="click: decrementField" data-field="job.RideFare"><i class="icon-minus"></i></div>
                         </span>
                          <input class="form-control input-responsive" type="tel" data-bind="value: job.RideFare" name="fare" validationMessage="* required" required />
                          <span class="input-group-btn">
                              <div class="btn btn-default btn-responsive" data-bind="click: incrementField" data-field="job.RideFare"><i class="icon-plus"></i></div>  
                         </span>
                             
                        </div>
                        
                     </div>
                    
                    <!-- start: children -->
                     <div class="body-row">                          
                        
                         <label>
                             Number of Children <span class="k-invalid-msg danger" data-for="wontletmenameitchildren"></span>                             
                         </label>
                         
                         <div class="input-group">
                          <span class="input-group-btn">
                              <div class="btn btn-default btn-responsive" data-bind="click: decrementField" data-field="job.NumberOfChildren"><i class="icon-minus"></i></div>
                         </span>
                          <input class="form-control input-responsive" type="number" data-bind="value: job.NumberOfChildren" name="wontletmenameitchildren" validationMessage="* required" required />
                          <span class="input-group-btn">
                              <div class="btn btn-default btn-responsive" data-bind="click: incrementField" data-field="job.NumberOfChildren"><i class="icon-plus"></i></div>  
                         </span>
                             
                        </div>
                        
                     </div>
                    
                    
                    <!-- start: escorts -->
                     <div class="body-row">                          
                        
                         <label>
                             Number Of Escorts <span class="k-invalid-msg danger" data-for="escorts"></span>
                         </label>
                         
                         <div class="input-group">
                          <span class="input-group-btn">
                              <div class="btn btn-default btn-responsive" data-bind="click: decrementField" data-field=" job.Escorts"><i class="icon-minus"></i></div>
                         </span>
                          <input class="form-control input-responsive" type="number" data-bind="value: job.Escorts" name="escorts" validationMessage="* required" required  />
                          <span class="input-group-btn">
                              <div class="btn btn-default btn-responsive" data-bind="click: incrementField" data-field="job.Escorts"><i class="icon-plus"></i></div>  
                         </span>
                             
                        </div>
                        
                     </div>
                    
                    
                    <!-- start: submit buttons -->
                    <div class="submit-row">
                        <div class="btn-group btn-group-justified">
                            
                            <div style="width:80%" class="btn btn-success btn-responsive" 
                                data-bind="click: performPickup, enabled: allowPerformPickup, text:pickupPerformButtonText"></div>
                            <div style="width:20%" class="btn btn-default btn-responsive" data-bind="click:cancelPerform"><i class="icon-remove"></i></div>
    
                        </div>
                    </div>
                    <!-- end: submit buttons -->
                </fieldset>
    	    </form>   
        </div>
    </div>   
</div>