<div data-role="view" id="performDropoffView" data-model="parascope.controllers.route.viewModel">
    
    <div class="row" style="padding-top:25px">
        
        <div class="col-xs-6">
            
            <!-- start: who / where -->
            <div class="body-row">
                <h2 data-bind="text: job.SubTitle" style="margin:0px"></h2>
            </div>
            <!-- end: who / where -->
            <label>Account</label>
            <p  data-bind="text: job.AccountCode"></p>

            <div class="body-row" data-bind="visible: job.RideComments != ''">
                <label>Ride Comments</label>
                <p  data-bind="text: job.RideComments"></p>
            </div>
            <div class="body-row" data-bind="visible: job.RiderComments != ''">
                <label>Rider Comments</label>
                <p  data-bind="text: job.RiderComments"></p>
            </div>
            <div class="body-row" data-bind="visible: job.SpecialAssistance.length > 0">
                <label>Special Assistance Codes</label>
                <p  data-bind="text: formatCurrentJobSpecialAssistance"></p>
            </div>
            <div class="body-row">
                <div class="btn btn-default btn-responsive" data-bind="click: captureSignatureClick,visible:job.SignatureRequired">Capture Signature</div><br/>
                <label data-bind="text: currentSignatureReason"></label>
                <img data-bind="visible: showSignature, attr: { src: signature }" style="width:90%;" />
            </div>
            
        </div>
        
        <div class="col-xs-6">
            <form>		
                <fieldset>

            
                    <!-- start: odometer -->
                     <div class="body-row">                         
                         
                        <label>
                            Odometer <span class="k-invalid-msg danger" data-for="odometer"></span>                            
                        </label>
                         <div class="input-group">
                          <span class="input-group-btn">
                              <div class="btn btn-default btn-responsive" data-bind="click: decrementField" data-field="currentOdometer"><i class="icon-minus"></i></div>
                         </span>
                          <input class="form-control input-responsive" type="number" data-bind="value: currentOdometer" name="odometer" validationMessage="* required" required />
                          <span class="input-group-btn">
                              <div class="btn btn-default btn-responsive" data-bind="click: incrementField" data-field="currentOdometer"><i class="icon-plus"></i></div>  
                         </span>
                             
                        </div>
                        
                     </div>                                          
                    
                    
                    <!-- start: submit buttons -->
                    <div class="submit-row">
                        <div class="btn-group btn-group-justified">
                            
                            <div style="width:70%" class="btn btn-success btn-responsive" 
                                data-bind="click: performDropoff, enabled: allowPerformDropoff, text:dropoffPerformButtonText"></div>
                            <div style="width:15%" class="btn btn-default btn-responsive" data-bind="click:cancelPerform"><i class="icon-remove"></i></div>
    
                        </div>
                    </div>
                    <!-- end: submit buttons -->



      

                </fieldset>
    	    </form>   
        </div>     
        
    </div>   
</div>