<div data-role="modalview" id="settingsView" data-model="parascope.controllers.login.viewModel" style="width:90%; height:400px;">
    

    <!--start: Modal Header -->
    <div class="row" style="padding:20px 0;">
        
        <div class="col-xs-8 col-xs-offset-2">
          <h3>Settings</h3>
        </div>

    </div>
    <!--end: Modal Header -->
    
    
    
    <div class="row" style="padding:20px 0;">
        
        <div class="col-xs-8 col-xs-offset-2">
        	<form>		
                <fieldset>

                    <div class="form-group">
                        <label>Customer</label>
                        <input type="text" class="form-control input-responsive" data-bind="value: credentials.customer" />
                    </div>
                    
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control input-responsive " data-bind="value: credentials.description" />
                    </div>
                    
                    <div class="btn btn-primary btn-responsive" data-bind="click: saveSettings">Submit</div>
                  
                </fieldset>
    	    </form>            
        </div>
    </div> 
    
</div>