<div data-role="modalview" id="settingsView" data-model="parascope.controllers.login.viewModel" style="width: 75%; height:300px;">
    

    
    <div class="row modalBody">
        
        <div class="col-xs-8 col-xs-offset-2" style="padding:15px;">
        	<form>		
                <fieldset>

                    <div class="form-group">
                        <label>Customer</label>
                        <input type="text" class="form-control input-responsive" data-bind="value: credentials.customer" />
                    </div>
                    
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control input-responsive " data-bind="value: credentials.description" />
                    </div>
                    
                    <div class="btn btn-success btn-responsive" data-bind="click: saveSettings">Save</div>
                  
                </fieldset>
    	    </form>   
        </div>
    </div> 
    
</div>